<!DOCTYPE html>
<html >
<link lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LinkedIn Jobs Market Analysis</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
<link rel="shortcut icon" href="https://greatreads-aa-dev.s3-us-west-1.amazonaws.com/Fei-Portfolio/divIcon2.png" type="image/x-icon"></link>
</head>
<body id="indexBody">

<nav class="navbarTotal">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/team">Team</a>
        </li>
    </ul>
    <ul class="navbar-nav2"></ul>
    <div class="navbar-nav3">
        <img class="TPLogo" alt="talentpathLogo" src="TPLogo2.png"/>
    </div>
</nav>
<div class="reportDiv">
    <h2 class="indexHeader">LinkedIn Jobs Market Analysis</h2>
    <!--        <iframe  style="position:absolute; height:100%; width:100%;" src="https://app.powerbi.com/view?r=eyJrIjoiZTc1NWYxYWItMTRjNC00N2FmLTkwMzAtZDMxYzRhN2UyODBhIiwidCI6ImYyZGU2ZDEyLTNkZmItNDk3ZS1hMTE3LTlkODRjNDU5OWZlYiIsImMiOjN9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>-->

    <iframe width="100%" height="800" src="https://public.tableau.com/views/LinkedinMarketAnalysis/LinkedInAnalysis?:language=en-US&:display_count=n&:origin=viz_share_link" frameborder="0" allowFullScreen="true"></iframe>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
</script>
</body>
</html>